{{ define "main" }}
{{ $layout := .Site.Params.defaultPostLayout | default "grid" }}
<div class="posts-container{{ if eq $layout "list" }} list-layout{{ end }}">
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ range $paginator.Pages }}
  <article class="post-card">
    <!-- 图片部分 -->
    {{ if .Params.featured_image }}
    <div class="post-image">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
      </a>
    </div>
    {{ end }}
    <!-- 文字内容部分 -->
    <div class="post-content-wrapper">
      <h2 class="post-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
      <div class="post-meta">
        {{ with .Params.categories }}
        <span class="meta-item">
          {{ range . }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
      </div>
      <div class="post-content">
        <a href="{{ .RelPermalink }}" class="post-body">
          {{ .Content | plainify | truncate 200 }}
        </a>
      </div>
    </div>
  </article>
  {{ end }}
</div>

{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">
  {{ if $paginator.HasPrev }}
  <a href="{{ $paginator.Prev.URL }}" class="prev">{{ T "previous" }}</a>
  {{ end }}
  <div class="page-number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</div>
  {{ if $paginator.HasNext }}
  <a href="{{ $paginator.Next.URL }}" class="next">{{ T "next" }}</a>
  {{ end }}
</div>
{{ end }}
{{ end }}
