<div class="sidebar">

    <div class="card">
        <h4><i class="fas fa-folder"></i> {{ T "categories" }}</h4>
        <ul>
            {{ range site.Taxonomies.categories.ByCount }}
            <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="card">
        <h4><i class="fas fa-tags"></i> {{ T "tags" }}</h4>
        <div class="tags">
            {{ range site.Taxonomies.tags.ByCount }}
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            {{ end }}
        </div>
    </div>
</div>

